 <?xml version="1.0" encoding="UTF-8" ?>
 <widget xmlns = "http://www.w3.org/ns/widgets"	
		 xmlns:gap = "http://phonegap.com/ns/1.0"
		 id = "com.bingo-boom.bingo2"
		 version = "1.0" >
	 <name>Bingo-Boom2</name>	
	 <description>
		 Bingo-Boom2
	 </description>	
	 <author href="http://bingo-boom.ru/" email="harut@bingo-boom.ru">
		 Bingo Boom
	 </author>
	 <preference name="phonegap-version" value="3.6.3" />
	 <preference name="orientation" value="landscape" />
	 <preference name="fullscreen" value="true" />
	 <preference name="webviewbounce" value="false" />
	 <preference name="DisallowOverscroll" value="true" />
	 <preference name="UIWebViewBounce" value="false" />
	 

	 <gap:plugin name="org.apache.cordova.inappbrowser" version="0.2.4" />
	 <gap:plugin name="com.phonegap.plugin.statusbar" />
	 <gap:config-file platform="ios" parent="UIStatusBarHidden">
		 <true/>
	 </gap:config-file>
	 <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
		 <false/>
	 </gap:config-file>
	 <preference name="StatusBarOverlaysWebView" value="true" />
	 <access origin="http://api.bingo-boom.net" subdomains="true" />
	 <access origin="http://bingo-boom.ru" subdomains="true" />
 </widget>